.todo
{
    background-color: yellow;
    height: 100vh;
}
.box
{
    width: 50%;
    height: 400px;
    border-radius: 20px;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: scroll;
}
i{
    cursor: pointer;
}
.compl{
    text-decoration: line-through;
    color: red;
}

input[type=checkbox]:checked + p.strikethrough{
    text-decoration: line-through;
    color: red;
}